<div class="container" ng-controller="mainCtrl">
    <div class="row">

        <div class="col-xs-12">
            <h1>О Oriflame</h1>
        </div>
        <div class="col-xs-12">
            <p>Oriflame предлагает людям во всем мире, желающим начать зарабатывать деньги и
                осуществлять свои мечты и планы, прекрасную возможность заниматься собственным
                бизнесом. Наша уникальная бизнес-концепция – «Зарабатывай сегодня и воплощай свои
                мечты завтра™».</p>

            <p>Компания Oriflame также является
                соучредителем Всемирного детского фонда и гордится своим участием в многочисленных
                благотворительных проектах по всему миру.</p>
        </div>
        <div class="col-md-5"><h4>Факты о компании</h4>
            <ul>
                <li>Годовой оборот компании составляет около 1,4 млрд евро.</li>
                <li>Около 3&nbsp;миллионов консультантов Oriflame.</li>
                <li>Представлена в более чем 60&nbsp;странах.</li>
                <li>Около 7500&nbsp;сотрудников Oriflame.</li>
                <li>Широкий ассортимент продукции, насчитывающий около 1000&nbsp;наименований натуральной шведской
                    инновационной косметики
                </li>
                <li>Каталоги на 40&nbsp;языках.</li>
                <li>Научно-исследовательский центр Oriflame, в котором работает более 100&nbsp;ученых.</li>
                <li>Собственные фабрики в Швеции, России, Польше, Китае и Индии.</li>
                <li>Компания является членом Европейской и Российской ассоциаций прямых продаж и соблюдает и
                    поддерживает кодексы этики этих организаций.
                </li>
                <li>Магнус Брэннстром, Главный исполнительный директор компании,&nbsp;также&nbsp;является &nbsp;президентом
                    Европейской ассоциации прямых продаж.
                </li>
                <li>Компания является соучредителем Всемирного детского фонда.</li>
                <li>Корпоративные офисы в Швеции и Швейцарии.</li>
                <li>С 2004&nbsp;года акции компании котируются на бирже NASDAQ OMX.</li>
            </ul>
        </div>
        <div class="col-md-7">
            <h4>Рынки компании</h4>
            <img class="img-responsive" src="http://orflame.loc/img/map.jpg">
        </div>
        <div class="col-xs-12">
            <h3 class="text-center">Какие преимущества и возможности есть у консультантов Орифлейм сейчас!</h3>
            <ul>
                <li>Самая важная причина, почему люди регистрируются в Орифлейм – это свобода выбора и никаких
                    требований к заказам. Компания не обязывает консультанта размещать заказы. Консультант может
                    заказывать продукцию когда сам пожелает, на любую сумму и в любом количестве. Нашли интересное
                    предложение в каталоге – делаем заказ. Не нашли ничего подходящего – откладываем каталог, ждем
                    следующий.
                </li>
                <li>Вторая причина по которой миллионы людей, регистрируются в Орифлейм – это пожизненная экономия. Для
                    всех консультантов компания предоставляет скидку 20% от цен, указанных в каталоге.
                </li>
                <li>Третья причина, по которой люди выбирают Орифлейм – очень удобные способы получения и размещения
                    заказов. Теперь не нужно приезжать в офис Орифлейм, чтобы сделать заказ. Достаточно воспользоваться
                    любым доступным способом, и оформить заказ: через интернет, по телефону или отправить SMS сообщение.
                    Сроки поставки размещенных заказов значительно снизились. В небольших городах, консультанты получают
                    заказы в офисах Орифлейм через 2-5 дня, в крупных 1-2 дня. В крупных городах, есть возможность
                    доставки заказов на дом курьерской службой. Если в населенном пункте нет офиса, компании доставит
                    заказ EMS почтой России.
                </li>
                <li>Большое количество способов оплаты заказов. Сумму заказа можно оплатить наличными при получении,
                    через любой терминал, принимающий платежи в пользу Орифлейм, через банкноты Сбербанка РФ, ВТБ 24,
                    салоны Евросети, МТС, электронные платежные системы.
                </li>
                <li>Дополнительный доход. Сразу после регистрации у консультанта появляется возможность, зарабатывать
                    дополнительные деньги, рекомендовать продукцию клиентам, принимать заказы по каталогу.
                </li>
                <li>Консультант получает дополнительный доход в размере 3%-22% от объемов продаж, привлеченных в
                    Орифлейм новых консультантов
                </li>
                <li>Выгодные распродажи! Только для консультантов каждый каталог компания проводит специальные
                    распродажи, со скидками до 80%. (В год компания выпускает 17 каталогов, каждый каталог действует три
                    недели)
                </li>
                <li>Уникальный набор пробников. Сразу после регистрации у консультанта есть возможность заказать себе
                    специальный набор пробников по льготной цене 349 рублей. В этот набор входит около 40 пробников
                    основных туалетных вод + 60 пробников помад. (для справки: цена единичного пробника 9-10 рублей, в
                    наборе намного выгоднее)
                </li>
                <li>Успешные консультанты, получают возможность путешествовать за счет компании</li>
                <li>Каждый консультант имеет возможность пройти бесплатное обучение, в том числе не выходя из дома,
                    через интернет
                </li>
            </ul>
            <br></div>


        <!--<div class="col-md-6">-->
            <!--<p>-->
                <!--<iframe width="100%" height="400" src="https://www.youtube.com/embed/4htRyuMLKI4?rel=0&amp;showinfo=0&theme=light" frameborder="0" allowfullscreen></iframe>-->
            <!--</p>-->
        <!--</div>-->
        <!--<div class="col-md-6">-->
            <!--<p>-->
                <!--<iframe width="100%" height="400" src="https://www.youtube.com/embed/ETqL7uqwRhE?rel=0&amp;showinfo=0&theme=light" frameborder="0" allowfullscreen></iframe>-->
            <!--</p>-->
        <!--</div>-->
    </div>
</div>