<div class="lambda-hero">
    <div class="background-media" style="background-image: url('img/banner2.jpg'); background-repeat:no-repeat; background-size:cover; background-attachment:scroll; background-position: 0% 70%;"></div>
    <div class="container logo-oriflame">
        <div class="row">
            <div class="col-xs-12 banner-container" style="min-height: 450px">
                <img class="img-responsive center-block logo-oriflame-img" src="img/logo_orflame.png">
            </div>
        </div>
    </div>
</div>