<div class="container">
    <div class="row">
        <div class="col-sm-4 media">
            <div class="pull-left" href="#">
                <img class="media-object" ng-src="img/reg1.png" alt="...">
            </div>
            <div class="media-body">
                <h4>Возможности Oriflame</h4>
                <p>Мечтаете о собственном бизнесе?<br/>
                    Ищете неограниченный дополнительный доход?</p>

                <a href="#">Подробнее</a>


            </div>
        </div>
        <div class="col-sm-4 media">
            <div class="pull-left" href="#">
                <img class="media-object" ng-src="img/reg2.png" alt="...">
            </div>
            <div class="media-body">
                <h4>Продукция <br/>Oriflame</h4>
                <p>Oriflame является производителем косметики в соответствии с самыми высокими стандартами.</p>

                <a href="#">Подробнее</a>

            </div>
        </div>
        <div class="col-sm-4 media">
            <div class="pull-left" href="#">
                <img class="media-object" src="img/reg3.png" alt="...">
            </div>
            <div class="media-body">
                <h4>Регистрация в Oriflame</h4>
                <p>Зарабатывайте с Орифлэйм сегодня и воплощайте мечты завтра!</p>
                <br/>
                <a href="#">Подробнее</a>

            </div>
        </div>
    </div>

</div>