<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3 class="text-center-md">LetyShops бережет Ваш семейный бюджет</h3>
            <ol>
                <li>Проходите регистрацию.</li>
                <li>П​ереходите в один из <a href="">973 магазинов</a> и совершайте обычную покупку.</li>
                <li>Кэшбэк зачислится на Ваш счет автоматически. Выводите деньги любым удобным способом:</li>
            </ol>
        </div>
        <div class="col-md-3 text-center-md">
            <h3>Меню</h3>
            <ul class="widget-navigation-ul list-unstyled">
                <li class="shops" ui-sref-active="active">
                    <a ui-sref="main.home" class="sf-with-ul"><span>Главная</span> о нас</a>
                </li>
                <li class="shops" ui-sref-active="active">
                    <a ui-sref="main.catalog" class="sf-with-ul"><span>Каталог</span> косметики</a>
                </li>
                <li class="shops" ui-sref-active="active">
                    <a ui-sref="main.business" class="sf-with-ul"><span>Бизнес</span> с Орифлэйм</a>
                </li>
                <li class="shops" data-ng-class="{active: $state.includes('main.shares')}">
                    <a ui-sref="main.shares.list" class="sf-with-ul"><span>Акции</span> статьи</a>
                </li>
                <li class="shops" ui-sref-active="active">
                    <a ui-sref="main.comment" class="sf-with-ul"><span>Коментарии</span> о продукции</a>
                </li>
                <li class="shops" ui-sref-active="active">
                    <a ui-sref="main.contacts" class="sf-with-ul"><span>Конатакты</span> пишите</a>
                </li>

            </ul>
        </div>
        <div class="col-md-3 text-center-md">
            <h3>Контакты</h3>
            <div class="footer-contacts">
                <div class="contacts-line contacts-line-desc">Звоните, мы расскажем как экономить на покупках</div>

                <div class="contacts-line contact-phone">8 (800) 555-13-97 Звонки по России бесплатные</div>

                <div class="contacts-line contact-phone">8 (495) 374-94-33</div>

                <div class="contacts-line time-work">пн-пт 9:00–18:00 <span style="font-size:11px">МСК</span></div>

                <div class="contact-page-link"><a href="//letyshops.ru/kontakty" rel="nofollow">Все контакты</a></div>
            </div>
        </div>
    </div>
</div>